<div class="container" [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }">
  <div class="img-container">
    <img src="\assets\images\customer-dashboard\credit_card.svg" alt="credit card" />
  </div>
  <div class="text-container">
    <div class="account-number">
      <div class="heading">
        {{ constants.ACCOUNT_BALANCE_HEADING }} {{ accountNumber }}
      </div>
    </div>
    <div class="card-container account-balance">
      <div class="heading">{{ constants.ACCOUNT_BALANCE_HEADING }}</div>
      <div class="value">&#8377; {{ accountBalance }}</div>
    </div>
    <div class="card-container pending-balance">
      <div class="heading">{{ constants.BALANCE_ON_HOLD_HEADING }}</div>
      <div class="value">&#8377; {{ balanceOnHold }}</div>
    </div>
  </div>
</div>
