$mainColor: #00A9A4;
$lightColor: white;

.navbar{
    font-family: 'Poppins', sans-serif;
    // background-color: whitesmoke; 
    background-color: #F8FBFF;
    .logo-container{
        img{
            width: 250px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .login-btn{
        background-color: $mainColor;
        color: $lightColor;
        padding: 10px 25px;
        transition: all .2s;
        &:hover{
            background-color: #3F3C6C;
        }
        &:active{
            scale: .9;
        }
    }

}