<div class="container-fluid">
  <img class="img-fluid" src="\assets\images\homepage-bg-light.png" alt="" />
  <div class="heading-container">
    <div class="sub-heading">Simple. Transparent. Secure</div>
    <div class="main-heading">Fast and Secure Online Money Transfer</div>
    <div class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit ratione
      dignissimos incidunt impedit earum.
    </div>
    <button class="btn get-started-btn">Get Started</button>
  </div>
</div>
<app-our-features></app-our-features>
<app-join-us></app-join-us>
