<div class="container-fluid">
  <img class="img-fluid" src="\assets\images\homepage-bg-light.png" alt="" />
  <div class="heading-container">
    <div class="sub-heading">{{ bodyConstants.SUB_HEADING }}</div>
    <div class="main-heading">{{ bodyConstants.MAIN_HEADING }}</div>
    <div class="paragraph">
      {{ bodyConstants.PARAGRAPH_TEXT }}
    </div>
    <button class="btn get-started-btn" routerLink="/login">
      {{ bodyConstants.BUTTON_TEXT }}
    </button>
  </div>
</div>
<app-our-features></app-our-features>
<app-join-us></app-join-us>
