
.navbar{
    font-family: 'Poppins', sans-serif;
    // background-color: whitesmoke; 
    background-color: #F8FBFF;
    .logo-container{
        img{
            width: 220px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    // .navbar-brand{
    //     margin-left: 20px;
    //     font-size: 1.6rem;
    //     font-weight: bold;
    //     color: $mainColor;
    //     font-style: italic;
    // }

}