<div class="container-fluid">
  <div class="join-img">
    <img
      src="\assets\images\join-us\transaction.svg"
      alt=""
      draggable="false"
    />
  </div>
  <div class="heading-container">
    <div class="sub-heading">Create Your Account Now</div>
    <div class="main-heading">You Can Find All Things You Needs</div>
    <div class="paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit ratione
      dignissimos incidunt impedit earum.
    </div>
    <button class="btn visit-btn">Visit Us</button>
  </div>
</div>
