<div class="container-fluid">
  <div class="heading">{{ ourFeaturesConstants.HEADING }}</div>
  <div class="feature-container">
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\security.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">
          {{ ourFeaturesConstants.SECURITY_TITLE }}
        </div>
        <p class="card-text">
          {{ ourFeaturesConstants.SECURITY_DESCRIPTION }}
        </p>
      </div>
    </div>
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\send_money.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">
          {{ ourFeaturesConstants.SEND_MONEY_TITLE }}
        </div>

        <p class="card-text">
          {{ ourFeaturesConstants.SEND_MONEY_DESCRIPTION }}
        </p>
      </div>
    </div>
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\online_banking.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">
          {{ ourFeaturesConstants.ONLINE_BANKING_TITLE }}
        </div>
        <p class="card-text">
          {{ ourFeaturesConstants.ONLINE_BANKING_DESCRIPTION }}
        </p>
      </div>
    </div>
  </div>
</div>
