$mainColor: #00A9A4;
$lightColor: white;

.container-fluid{
    display: grid;
    grid-template-columns: 50% 50%;
    .join-img{
        text-align: center;
        img{
            width: 80%;
        }
    }
    .heading-container{
        font-family: 'Poppins', sans-serif;
        width: 70%;
        margin: auto;
        .sub-heading{
            color: $mainColor;
        }
        .main-heading{
            font-family: 'Playfair Display', serif;
            font-size:3rem;
            font-style: italic;
        }
        .paragraph{
            margin: 4% 0%;
        }
        .visit-btn{
            background-color: $mainColor;
            color: $lightColor;
            padding: 12px 35px;
            margin-top: 2%;
            cursor: default;
        }
    }

}