<app-header [transparentHeader]="false" [loginpage]="true"></app-header>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="login-form col-lg-4 col-sm-10 p-lg-5">
      <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
        <div class="form-heading mb-3">Welcome</div>
        <label for="username" class="form-label">Username</label>
        <div class="input-with-icon mb-4">
          <input
            ngModel
            name="username"
            type="email"
            class="form-control"
            id="username"
            aria-describedby="usernameHelp"
            pattern="[a-z0-9A-Z]+"
            required
            placeholder="Enter Username"
            [ngClass]="{
              invalidfield:
                loginform.controls.username?.invalid &&
                loginform.controls.username?.touched
            }"
          />
          <i class="fa-solid fa-user"></i>
        </div>

        <label for="password" class="form-label">Password</label>
        <div class="input-with-icon mb-4">
          <input
            ngModel
            name="password"
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            id="password"
            pattern="[a-z0-9A-Z!@#$%^&*]+"
            required
            placeholder="Enter Password"
            [ngClass]="{
              invalidfield:
                loginform.controls.password?.invalid &&
                loginform.controls.password?.touched
            }"
          />
          <i class="fa-solid fa-lock"></i>
          <i class="fa-solid fa-eye" (click)="showHidePassword()"></i>
        </div>
        <div class="text-center">
          <button
            class="btn submit-btn"
            type="submit"
            [disabled]="loginform.invalid"
          >
            <i class="fa-solid fa-circle-check"></i>
            Login
          </button>
        </div>
      </form>
    </div>
    <div class="login-page-img col-lg-5 col-sm-10 p-lg-5">
      <img
        src="\assets\images\secure_login.svg"
        alt="secure login"
        draggable="false"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
