<div class="container p-lg-5">
  <form
    class="row g-3 register-new-form"
    [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }"
    (ngSubmit)="onSubmit(registerNewForm)"
    #registerNewForm="ngForm"
  >
    <h5 class="text-center">Register New Customer</h5>
    <div class="col-md-5">
      <label for="username" class="form-label">Username</label>
      <div class="input-with-icon">
        <i class="fas fa-user"></i>
        <input
          ngModel
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
          minlength="5"
          maxlength="20"
          placeholder="Enter username"
          pattern="[a-zA-Z0-9_]+"
          autocomplete="username"
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.username?.invalid &&
              registerNewForm.controls.username?.touched
          }"
        />
      </div>
    </div>
    <div class="col-md-5">
      <label for="password" class="form-label">Password</label>
      <div class="input-with-icon">
        <i class="fas fa-lock"></i>
        <input
          ngModel
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
          minlength="8"
          placeholder="Enter password"
          pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
          autocomplete="current-password"
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.password?.invalid &&
              registerNewForm.controls.password?.touched
          }"
        />
      </div>
    </div>
    <div class="col-md-5">
      <label for="name" class="form-label">Name</label>
      <div class="input-with-icon">
        <i class="fas fa-user"></i>
        <input
          ngModel
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          placeholder="Enter name"
          maxlength="30"
          pattern="[A-Za-z ]+"
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.name?.invalid &&
              registerNewForm.controls.name?.touched
          }"
        />
      </div>
    </div>
    <div class="col-md-5">
      <label for="email" class="form-label">Email</label>
      <div class="input-with-icon">
        <i class="fas fa-envelope"></i>
        <input
          ngModel
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
          placeholder="Enter email"
          pattern="^[a-zA-Z][a-zA-Z0-9]+\@[a-zA-Z]+\.(in|net|com)"
          email
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.email?.invalid &&
              registerNewForm.controls.email?.touched
          }"
        />
      </div>
    </div>
    <div class="col-md-5">
      <label for="phone" class="form-label">Phone</label>
      <div class="input-with-icon">
        <i class="fas fa-phone"></i>
        <input
          ngModel
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          required
          pattern="[0-9]{10}"
          placeholder="Enter phone number"
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.phone?.invalid &&
              registerNewForm.controls.phone?.touched
          }"
        />
      </div>
    </div>
    <div class="col-md-5">
      <label for="gender" class="form-label">Gender</label>
      <div class="input-with-icon">
        <i class="fas fa-venus-mars"></i>
        <select
          ngModel
          class="form-select"
          id="gender"
          name="gender"
          required
          [ngClass]="{
            invalidfield:
              registerNewForm.controls.gender?.invalid &&
              registerNewForm.controls.gender?.touched
          }"
        >
          <option value="" selected disabled hidden>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <label for="id-proof-type" class="form-label">ID Proof Type</label>
      <div class="input-with-icon">
        <i class="fas fa-id-card"></i>
        <select
          ngModel
          class="form-select"
          id="id-proof-type"
          name="idProofType"
          required
          [ngClass]="{
            invalidfield:
              registerNewForm.controls['idProofType']?.invalid &&
              registerNewForm.controls['idProofType']?.touched
          }"
        >
          <option value="" selected disabled hidden>Select Proof ID</option>
          <option value="Aadhar Card">Aadhar Card</option>
          <option value="Pan Card">Pan Card</option>
        </select>
      </div>
    </div>
    <div class="col-md-5">
      <label for="id-proof-number" class="form-label">ID Proof Number</label>
      <div class="input-with-icon">
        <i class="fas fa-id-card"></i>
        <input
          ngModel
          type="text"
          class="form-control"
          id="id-proof-number"
          name="idProofNumber"
          required
          placeholder="Enter ID proof number"
          pattern="[0-9]{5,}"
          [ngClass]="{
            invalidfield:
              registerNewForm.controls['idProofNumber']?.invalid &&
              registerNewForm.controls['idProofNumber']?.touched
          }"
        />
      </div>
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary submit-btn">
        <i class="fas fa-user-plus"></i> Add Customer
      </button>
    </div>
  </form>
</div>
