$mainColor: #00A9A4;
$lightColor: white;

.widget-container{
    height: 15vh;
    background-color: white;
    margin: 10px;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .view-customer{
        margin: 0 10px;
        background-color: #f8fbff;
        font-size: 1.2rem;
        color: black;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: all .3s ease-in-out;
        .img{
            i{
                font-size: 2rem;
                color: $mainColor;
            }
        }
    }
}

.widget-container .view-customer:hover{
    scale: 1.1;
    background-color: $mainColor;
    color: $lightColor;
    .img{
        i{
            color: $lightColor;
        }
    }
}