<div
  class="widget-container"
  [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }"
>
  <div
    class="view-customer"
    *ngIf="role === 'manager'"
    routerLink="/dashboard/requests"
  >
    <div class="img">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="text">
      <div>{{ constants.APPROVE_REQUESTS }}</div>
    </div>
  </div>
  <div class="view-customer" *ngIf="role === 'cashier'">
    <div class="img">
      <i class="fa-solid fa-sun"></i>
    </div>
    <div class="text">
      <div>{{ constants.GOOD_MORNING }}</div>
    </div>
  </div>
  <div class="view-customer" routerLink="/dashboard/register">
    <div class="img">
      <i class="fa-solid fa-user-plus"></i>
    </div>
    <div class="text">
      <div>{{ constants.REGISTER_CUSTOMER }}</div>
    </div>
  </div>
  <div class="view-customer" routerLink="/dashboard/editcustomer">
    <div class="img">
      <i class="fa-solid fa-people-roof"></i>
    </div>
    <div class="text">
      <div>{{ constants.MANAGE_CUSTOMER }}</div>
    </div>
  </div>
</div>
