<div
  class="widget-container"
  [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }"
>
  <div
    class="view-customer"
    *ngIf="role === 'manager'"
    routerLink="/dashboard/requests"
  >
    <div class="img">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="text">
      <div>Approve Request</div>
    </div>
  </div>
  <div class="view-customer" *ngIf="role === 'cashier'">
    <div class="img">
      <i class="fa-solid fa-sun"></i>
    </div>
    <div class="text">
      <div>Good Morning</div>
    </div>
  </div>
  <div class="view-customer" routerLink="/dashboard/register">
    <div class="img">
      <i class="fa-solid fa-user-plus"></i>
    </div>
    <div class="text">
      <div>Register Customer</div>
    </div>
  </div>
  <div class="view-customer" routerLink="/dashboard/editcustomer">
    <div class="img">
      <i class="fa-solid fa-people-roof"></i>
    </div>
    <div class="text">
      <div>Manage Customer</div>
    </div>
  </div>
</div>
