<div
  class="change-password-container m-lg-5 p-lg-5"
  [ngClass]="{ dark_light_theme: currentTheme === 'Dark' }"
>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="changepassword-form col-lg-4 col-sm-10 p-lg-3">
        <form
          #changepasswordform="ngForm"
          (ngSubmit)="onSubmit(changepasswordform)"
        >
          <div class="form-heading mb-3">Reset Password</div>
          <label for="oldpassword" class="form-label">Old Password</label>
          <div class="input-with-icon mb-4">
            <input
              ngModel
              name="oldpassword"
              type="password"
              class="form-control"
              id="oldpassword"
              aria-describedby="usernameHelp"
              required
              pattern="[a-zA-Z0-9!@#$%^&*]+"
              [ngClass]="{
                invalidfield:
                  changepasswordform.controls.oldpassword?.invalid &&
                  changepasswordform.controls.oldpassword?.touched
              }"
            />
            <i class="fa-solid fa-lock"></i>
          </div>

          <label for="newpassword" class="form-label">New Password</label>
          <div class="input-with-icon mb-4">
            <input
              ngModel
              name="newpassword"
              type="password"
              class="form-control"
              id="newpassword"
              required
              pattern="[a-zA-Z0-9!@#$%^&*]+"
              [ngClass]="{
                invalidfield:
                  changepasswordform.controls.newpassword?.invalid &&
                  changepasswordform.controls.newpassword?.touched
              }"
            />
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="text-center">
            <button
              class="btn submit-btn"
              type="submit"
              [disabled]="changepasswordform.invalid"
            >
              <i class="fa-solid fa-circle-check"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="change-password-img col-lg-5 col-sm-10">
        <img
          src="\assets\images\change-password\change_password.svg"
          alt="secure login"
          draggable="false"
        />
      </div>
    </div>
  </div>
</div>
