<div class="container">
  <div class="transaction-heading">
    <div>
      {{ constants.FILTER_BY_DATE }}
      <p-calendar
        class="date-picker small"
        [(ngModel)]="selectedDate"
        (ngModelChange)="handleDateChange()"
        [maxDate]="tomorrow"
        placeholder="Select a date"
      ></p-calendar>
    </div>
    <div>{{ constants.ACCOUNT_TRANSACTIONS }}</div>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="table-container" *ngIf="!emptyTransactions">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ constants.HASH }}</th>
          <th scope="col">{{ constants.ACCOUNT_NUMBER }}</th>
          <th scope="col">{{ constants.DATE }}</th>
          <th scope="col">{{ constants.TRANSACTION_TYPE }}</th>
          <th scope="col">{{ constants.AMOUNT }}</th>
          <th scope="col">{{ constants.INITIATED_BY }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let transaction of transactions
              | paginate : { itemsPerPage: 10, currentPage: currentPage };
            let i = index
          "
        >
          <th scope="row">{{ 10 * (currentPage - 1) + (i + 1) }}</th>
          <td>{{ transaction["account_number"] }}</td>
          <td>{{ transaction["date_and_time"] | date }}</td>
          <td>{{ transaction["transaction_type"] }}</td>
          <td>&#8377; {{ transaction["amount"] }}</td>
          <td>{{ transaction["done_by"] }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="currentPage = $event"
      class="my-pagination"
    ></pagination-controls>
  </div>
  <ng-container *ngIf="emptyTransactions">
    <div class="empty-transactions">
      <img src="\assets\images\no-data\no-data.svg" alt="empty" />
      <div class="text-center mt-3">
        <h3 class="text-center">{{ constants.NO_TRANSACTIONS }}</h3>
      </div>
    </div>
  </ng-container>
</div>
