<div class="container">
  <div class="transaction-heading">
    <div>Account Transactions</div>
    <div>
      Filter By Date:
      <p-calendar
        class="date-picker"
        [(ngModel)]="selectedDate"
        (ngModelChange)="handleDateChange()"
      ></p-calendar>
    </div>
  </div>
  <div class="table-container" *ngIf="!emptyTransactions">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Account Number</th>
          <th scope="col">Date</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Initiated By</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let transaction of transactions
              | paginate : { itemsPerPage: 10, currentPage: currentPage };
            let i = index
          "
        >
          <th scope="row">{{ 10 * (currentPage - 1) + (i + 1) }}</th>
          <td>{{ transaction["account_number"] }}</td>
          <td>{{ transaction["date_and_time"] | date }}</td>
          <td>{{ transaction["transaction_type"] }}</td>
          <td>&#8377; {{ transaction["amount"] }}</td>
          <td>{{ transaction["done_by"] }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="currentPage = $event"
      class="my-pagination"
    ></pagination-controls>
  </div>
  <ng-container *ngIf="emptyTransactions">
    <div class="empty-transactions">
      <img src="\assets\images\no-data\no-data.svg" alt="empty" />
      <div class="text-center mt-3">
        <h3 class="text-center">No Transactions Found</h3>
      </div>
    </div>
  </ng-container>
</div>
