<div class="container">
  <div class="transaction-heading">Account Transactions</div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Account Number</th>
          <th scope="col">Date</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Completed By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ transaction["account_number"] }}</td>
          <td>{{ transaction["date_and_time"] | date }}</td>
          <td>{{ transaction["transaction_type"] }}</td>
          <td>&#8377; {{ transaction["amount"] }}</td>
          <td>{{ transaction["done_by"] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
