<div class="form-container p-lg-5">
  <form
    class="row g-3 modify-customer-form"
    [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }"
    (ngSubmit)="onSubmit(customerEditForm)"
    #customerEditForm="ngForm"
  >
    <h5 class="text-center">Edit Customer Details</h5>

    <div>
      <label for="accountnumber" class="form-label">Account Number</label>
      <div class="input-with-icon">
        <i class="fa-solid fa-user"></i>
        <input
          ngModel
          type="number"
          class="form-control"
          id="accountnumber"
          name="accountnumber"
          required
          pattern="[0-9]+"
          [ngClass]="{
            invalidfield:
              customerEditForm.controls.accountnumber?.invalid &&
              customerEditForm.controls.accountnumber?.touched
          }"
        />
      </div>
    </div>
    <div>
      <label for="customer-detail" class="form-label">Customer Detail</label>
      <div class="input-with-icon">
        <i class="fas fa-id-card"></i>
        <select
          class="form-select"
          id="customer-detail"
          name="customer-detail"
          required
          [(ngModel)]="customerDetails"
        >
          <option value="name">Name</option>
          <option value="email">Email</option>
          <option value="phone">Phone Number</option>
          <option value="gender">Gender</option>
        </select>
      </div>
    </div>

    <!-- conditional Input fields -->
    <div *ngIf="customerDetails === 'name'">
      <label for="name" class="form-label">Name</label>
      <div class="input-with-icon">
        <i class="fas fa-user"></i>
        <input
          ngModel
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          pattern="[a-zA-Z ]+"
          [ngClass]="{
            invalidfield:
              customerEditForm.controls.name?.invalid &&
              customerEditForm.controls.name?.touched
          }"
        />
      </div>
    </div>
    <div *ngIf="customerDetails === 'email'">
      <label for="email" class="form-label">Email</label>
      <div class="input-with-icon">
        <i class="fas fa-envelope"></i>
        <input
          ngModel
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
          email
          [ngClass]="{
            invalidfield:
              customerEditForm.controls.email?.invalid &&
              customerEditForm.controls.email?.touched
          }"
        />
      </div>
    </div>
    <div *ngIf="customerDetails === 'phone'">
      <label for="phone" class="form-label">Phone</label>
      <div class="input-with-icon">
        <i class="fas fa-phone"></i>
        <input
          ngModel
          type="number"
          class="form-control"
          id="phone"
          name="phone"
          required
          pattern="[0-9]{10}"
          [ngClass]="{
            invalidfield:
              customerEditForm.controls.phone?.invalid &&
              customerEditForm.controls.phone?.touched
          }"
        />
      </div>
    </div>
    <div *ngIf="customerDetails === 'gender'">
      <label for="gender" class="form-label">Gender</label>
      <div class="input-with-icon">
        <i class="fas fa-venus-mars"></i>
        <select
          ngModel
          class="form-select"
          id="gender"
          name="gender"
          required
          [ngClass]="{
            invalidfield:
              customerEditForm.controls.gender?.invalid &&
              customerEditForm.controls.gender?.touched
          }"
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>

    <div class="col-12 text-center">
      <button
        type="submit"
        class="btn btn-primary submit-btn me-3"
        (click)="changeEditMode()"
      >
        <i class="fa-solid fa-circle-xmark"></i> Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary submit-btn"
        [disabled]="customerEditForm.invalid"
      >
        <i class="fas fa-user-plus"></i> Add Customer
      </button>
    </div>
  </form>
</div>
