<div class="container" [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="transfer-form col-lg-10 col-sm-10 p-lg-4">
      <form #transferform="ngForm">
        <div class="form-heading mb-4">Transfer</div>
        <div class="input-with-icon mb-3">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose Transfer Type</option>
            <option value="withdraw">Withdraw</option>
            <option value="deposit">Deposit</option>
          </select>
          <i class="fa-solid fa-money-bill-transfer"></i>
        </div>
        <label for="account-number" class="form-label">Account Number</label>
        <div class="input-with-icon mb-3">
          <input
            ngModel
            name="account-number"
            type="number"
            class="form-control"
            id="account-number"
            aria-describedby="accountnumberHelp"
          />
          <i class="fa-solid fa-user"></i>
        </div>

        <label for="amount" class="form-label">Amount</label>
        <div class="input-with-icon mb-3">
          <input
            ngModel
            name="amount"
            type="number"
            class="form-control"
            id="amount"
          />
          <i class="fa-solid fa-sack-dollar"></i>
        </div>

        <div class="text-center">
          <button class="btn submit-btn" type="submit">
            <i class="fa-solid fa-circle-check"></i>
            Transfer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
