<div class="container-fluid">
  <!-- <div class="section-name">Our Feature</div> -->
  <div class="heading">Payment Services Worldwide</div>
  <div class="feature-container">
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\security.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">Security</div>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\send_money.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">Send Money</div>

        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card feature-card">
      <img
        src="\assets\images\our-feature\online_banking.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <div class="card-heading">Online Banking</div>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
