<div
  class="sidebar-container"
  [ngClass]="{
    dark_sidebar: currentTheme === 'Dark',
    dark_sidebar_container: currentTheme === 'Dark'
  }"
>
  <div
    class="sidebar-item"
    routerLink="/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\dashboard.png"
        alt=""
      />
    </div>
    <div class="item-heading">Dashboard</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/requests"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\quote-request.png"
        alt=""
      />
    </div>
    <div class="item-heading">Approve Request</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/register"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager' || user.role === 'Cashier'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\add-user.png"
        alt=""
      />
    </div>
    <div class="item-heading">Register Customer</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/editcustomer"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager' || user.role === 'Cashier'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\edit.png"
        alt=""
      />
    </div>
    <div class="item-heading">View and Manage</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/transactions"
    routerLinkActive="active"
    *ngIf="user.role === 'Customer'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\transaction.png"
        alt=""
      />
    </div>
    <div class="item-heading">View Transactions</div>
  </div>

  <div
    class="sidebar-item align-end"
    routerLink="/dashboard/changepassword"
    routerLinkActive="active"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\padlock.png"
        alt=""
      />
    </div>
    <div class="item-heading">Change Password</div>
  </div>

  <div class="sidebar-item" (click)="onLogout()">
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\logout.png"
        alt=""
      />
    </div>
    <div class="item-heading">Logout</div>
  </div>
</div>
