<div
  class="sidebar-container"
  [ngClass]="{
    dark_sidebar: currentTheme === 'Dark',
    dark_sidebar_container: currentTheme === 'Dark'
  }"
>
  <div
    class="sidebar-item"
    routerLink="/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\dashboard.png"
        alt="dashaboard"
      />
    </div>
    <div class="item-heading">{{ constants.DASHBOARD }}</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/requests"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\quote-request.png"
        alt=" quote request"
      />
    </div>
    <div class="item-heading">{{ constants.APPROVE_REQUESTS }}</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/register"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager' || user.role === 'Cashier'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\add-user.png"
        alt=" add user"
      />
    </div>
    <div class="item-heading">{{ constants.REGISTEER_CUSTOMER }}</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/editcustomer"
    routerLinkActive="active"
    *ngIf="user.role === 'Manager' || user.role === 'Cashier'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\edit.png"
        alt=" edit user"
      />
    </div>
    <div class="item-heading">{{ constants.VIEW_AND_MANAGE }}</div>
  </div>

  <div
    class="sidebar-item"
    routerLink="/dashboard/transactions"
    routerLinkActive="active"
    *ngIf="user.role === 'Customer'"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\transaction.png"
        alt=" transaction"
      />
    </div>
    <div class="item-heading">{{ constants.VIEW_TRANSACTIONS }}</div>
  </div>

  <div
    class="sidebar-item align-end"
    routerLink="/dashboard/changepassword"
    routerLinkActive="active"
  >
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\padlock.png"
        alt=" change password"
      />
    </div>
    <div class="item-heading">{{ constants.CHANGE_PASSWORD }}</div>
  </div>

  <div class="sidebar-item" (click)="onLogout()">
    <div class="item-icon">
      <img
        [ngClass]="{ light_icon: currentTheme === 'Dark' }"
        src="\assets\images\dashboard-sidebar\logout.png"
        alt=" logout"
      />
    </div>
    <div class="item-heading">{{ constants.LOGOUT }}</div>
  </div>
</div>
