<div
  class="request-card"
  [ngStyle]="{
    'background-color': currentTheme === 'Dark' ? '#16171b' : '#f8fbff'
  }"
>
  <div class="img-container">
    <img src="\assets\images\view-customer-details\male.svg" alt="" />
  </div>
  <div class="content-container">
    <div class="request-type">
      <div class="left-side">
        <div>Request Type :</div>
      </div>
      <div class="right-side" *ngIf="registrationRequest">
        <div>Registration</div>
      </div>
      <div class="right-side" *ngIf="modificationRequest">
        <div>Modification</div>
      </div>
      <div class="right-side" *ngIf="withdrawnRequest">
        <div>Withdraw</div>
      </div>
    </div>
    <div class="description" *ngIf="registrationRequest">
      Name - {{ registrationRequest["name"] }} <br />
      Email - {{ registrationRequest["email"] }} <br />Phone -
      {{ registrationRequest["phone_no"] }} <br />
      ID Type - {{ registrationRequest["id_proof_type"] }} <br />
      ID Number - {{ registrationRequest["id_proof"] }} <br />Gender -
      {{ registrationRequest["gender"] }}
      <br />
    </div>
    <div class="description" *ngIf="modificationRequest">
      Request ID : {{ modificationRequest["request_id"] }} <br />
      Account Number : {{ modificationRequest["user_id"] * 1000 }} <br />
      Detail to update : {{ modificationRequest["attribute_to_update"] }} <br />
      Detail value : {{ modificationRequest["attribute_value"] }} <br />
    </div>

    <div class="description" *ngIf="withdrawnRequest">
      Request ID : {{ withdrawnRequest["request_id"] }} <br />
      AccountNumber : {{ withdrawnRequest["user_id"] * 1000 }} <br />
      Amount to Debit : {{ withdrawnRequest["debited_amount"] }} <br />
      Request by : {{ withdrawnRequest["requested_by"] }} <br />
      date : {{ withdrawnRequest["date"] | date }} <br />
      <!-- user_id : 6 -->
    </div>
    <div class="buttons-container text-center">
      <button
        class="btn submit-btn btn-success m-1"
        (click)="handleRequest('approved')"
      >
        Approve
      </button>
      <button
        class="btn submit-btn reject-btn btn-danger m-1"
        (click)="handleRequest('rejected')"
      >
        Reject
      </button>
    </div>
  </div>
</div>
