<div
  class="request-card"
  [ngStyle]="{
    'background-color': currentTheme === 'Dark' ? '#16171b' : '#f8fbff'
  }"
>
  <div class="img-container">
    <img src="\assets\images\view-customer-details\male.svg" alt="" />
  </div>
  <div class="content-container">
    <div class="request-type">
      <div class="left-side">
        <div>Request Type :</div>
      </div>
      <div class="right-side">
        <div>Withdraw</div>
      </div>
    </div>
    <div class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit itaque
      Expedita, quo aspernatur.
    </div>
    <div class="buttons-container text-center">
      <button class="btn submit-btn btn-success m-1">Approve</button>
      <button class="btn submit-btn reject-btn btn-danger m-1">Reject</button>
    </div>
  </div>
</div>
