<div
  class="request-card"
  [ngStyle]="{
    'background-color': currentTheme === 'Dark' ? '#16171b' : '#f8fbff'
  }"
>
  <div class="img-container">
    <img src="\assets\images\view-customer-details\male.svg" alt="" />
  </div>
  <div class="content-container">
    <div class="request-type">
      <div class="left-side">
        <div>Request Type :</div>
      </div>
      <div class="right-side" *ngIf="registrationRequest">
        <div>Registration</div>
      </div>
      <div class="right-side" *ngIf="modificationRequest">
        <div>Modification</div>
      </div>
      <div class="right-side" *ngIf="withdrawnRequest">
        <div>Withdraw</div>
      </div>
    </div>
    <div class="req-card" *ngIf="registrationRequest">
      <ul class="left">
        <li>Name :</li>
        <li>Email :</li>
        <li>Phone :</li>
        <li>ID Type :</li>
        <li>ID Number :</li>
        <li>Gender :</li>
      </ul>
      <ul class="right">
        <li>{{ registrationRequest["name"] }}</li>
        <li>{{ registrationRequest["email"] }}</li>
        <li>{{ registrationRequest["phone_no"] }}</li>
        <li>{{ registrationRequest["id_proof_type"] }}</li>
        <li>{{ registrationRequest["id_proof"] }}</li>
        <li>{{ registrationRequest["gender"] }}</li>
      </ul>
    </div>

    <div class="req-card" *ngIf="modificationRequest">
      <ul class="left">
        <li>Request ID</li>
        <li>Account Number</li>
        <li>Detail to update</li>
        <li>Detail value</li>
      </ul>
      <ul class="right">
        <li>{{ modificationRequest["request_id"] }}</li>
        <li>{{ modificationRequest["user_id"] * 1000 }}</li>
        <li>{{ modificationRequest["attribute_to_update"] }}</li>
        <li>{{ modificationRequest["attribute_value"] }}</li>
      </ul>
    </div>

    <div class="req-card" *ngIf="withdrawnRequest">
      <ul class="left">
        <li>Request ID</li>
        <li>Account No</li>
        <li>Amount</li>
        <li>Request by</li>
        <li>Date</li>
      </ul>
      <ul class="right">
        <li>{{ withdrawnRequest["request_id"] }}</li>
        <li>{{ withdrawnRequest["user_id"] * 1000 }}</li>
        <li>{{ withdrawnRequest["debited_amount"] }}</li>
        <li>{{ withdrawnRequest["requested_by"] }}</li>
        <li>{{ withdrawnRequest["date"] | date }}</li>
      </ul>
    </div>
    <div class="buttons-container text-center">
      <button
        class="btn submit-btn btn-success m-1"
        (click)="handleRequest('approved')"
      >
        Approve
      </button>
      <button
        class="btn submit-btn reject-btn btn-danger m-1"
        (click)="handleRequest('rejected')"
      >
        Reject
      </button>
    </div>
  </div>
</div>
