/* You can add global styles to this file, and also import other style files */
$PurpleColor: #3F3C6C;
$lightBlueColor :#F8FBFF;
$AquaColor:#00A9A4;

// Dark mode colors
$DTDarkColor:#16171B;
$DTLightColor:#1F2326;



html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
    // font-family: 'Playfair Display', serif; 
}
// body{

// }

// .light_theme{
//     background-color: $lightBlueColor;
// }
// .light_sidebar{


// }
.dark_theme{
    background-color: $DTDarkColor !important;
    color:white;
}
.dark_light_theme{
    background-color: $DTLightColor !important;
    color: white;

}
.dark_sidebar{
    background-color: $DTLightColor !important;
    color: white;

}

.invalidfield {
    border: 1px solid red;
    box-shadow: 0 0 1px 0 red;
}




/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

/* Firefox */
input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

