<div
  class="container p-lg-5"
  [ngClass]="{ dark_light_theme: currentTheme == 'Dark' }"
>
  <div class="no-user-selected" *ngIf="!customerDetails">
    <img src="\assets\images\view-customer-details\people_search.svg" alt="" />
    <div class="text-center mt-3">
      <h3 class="text-center">No User Selected</h3>
      <p class="text-center">
        Please search a customer in the above search box.
      </p>
    </div>
  </div>

  <div class="row img-container" *ngIf="customerDetails">
    <img src="\assets\images\view-customer-details\male.svg" alt="" />
  </div>
  <div
    class="row details-container"
    [ngStyle]="{
      'background-color': currentTheme === 'Dark' ? '#16171b' : '#f8fbff'
    }"
    *ngIf="customerDetails"
  >
    <div class="left-side">
      <div>Name :</div>
      <div>Email :</div>
      <div>Phone :</div>
      <div>Gender :</div>
      <div>ID Type :</div>
      <div>ID Number :</div>
    </div>
    <div class="right-side">
      <div>{{ customerDetails["Name"] }}</div>
      <div>{{ customerDetails["Email"] }}</div>
      <div>{{ customerDetails["Phone"] }}</div>
      <div>{{ customerDetails["Gender"] }}</div>
      <div>{{ customerDetails["ID Type"] }}</div>
      <div>{{ customerDetails["ID Number"] }}</div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-primary submit-btn" (click)="changeEditMode()">
      <i class="fa-solid fa-pen-to-square"></i> Modify Details
    </button>
  </div>
</div>
